{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    {% for listing in listings %}
        <div class="card" style="width: 50%" style="margin-top: 10px;">
            <img src="{{ listing.image }}" alt="picture of {{listing.title}}">
            <div class="card-body">
                <h5 class="card-title"> {{ listing.title }}</h5>
                <p class="card-text">{{ listing.description}}</p>
                <p class="card-text">${{ listing.price }}</p>
                <p class="card-text"> {{ listing.category }}</p>
                <a href="{% url 'listing' listing_title=listing.title %}" class="btn btn-primary">Go To Listing Page</a>
            </div>
        </div>  
    {% endfor %}
{% endblock %}